.thought {
   
    font-size: 14px;
    height: 50px !important;
    margin-bottom: 10px;
}
.col-1{
    padding-left: 0px !important
}
.col-10{
    padding-right: 0px !important
}
.post-select{
    font-size: 14px;
    height: 50px !important;
    margin-bottom: 10px;
    margin-left:5px !important;
}
.img-circle{
    width :30px;
    height:30px;
    border :2 solid gray;
    border-radius:20px;
    background-color: aqua;
}
.example-card{
    background-color: whitesmoke;
    margin-bottom:10px;
}

